/* Estilo del contenedor del mapa */
#map {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

/* Estilo del tooltip en Leaflet */
.leaflet-tooltip {
    font-size: 14px;
    font-weight: bold;
}
